.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "ul ul"
        "article article"
        "figure main"
        "figure2 main2"
        "figure3 main3"
        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #03a3df;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
}

.hours {
    font-size: 15px;
}

ul.menu {
    grid-area: ul;
    background-color: #03a3df;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 1rem;
}

ul.menu li {
    display: inline;
    font-size: 18px;
}

ul.menu li a {
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

ul.menu li a:hover {
    color: black;
}

.article {
    grid-area: article;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #1b447f;
}

.figure {
    grid-area: figure;
    text-align: center;
}

.main {
    grid-area: main;
    color: #03a3df;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif;

}

.figure2 {
    grid-area: figure2;
    text-align: center;
}

.main2 {
    grid-area: main2;
    color: #03a3df;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.figure3 {
    grid-area: figure3;
    text-align: center;
}

.main3 {
    grid-area: main3;
    color: #03a3df;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-image: url(../images/footerImage.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    text-align: center;

}

.contact-info {
    padding-top: 2rem;
}

.policy {
    text-align: left;
    padding-left: 1rem;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

hr {
    text-align: left;
    margin-left: 0;
    border-color: #03a3df;
}

.black-text {
    color: black;
    font-size: 17px;
    font-weight: lighter;
}

.button {
    background-color: #444444;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    color: #ecb722;
    cursor: pointer;
}

.button:hover {
    background-color: #ecb722;
    color: #444444;
}
@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
        min-height: 100vh;
        display: grid;
        grid-template-areas:
        "header"
        "ul"
        "article"
        "figure" 
        "main"
        "figure2" 
        "main2"
        "figure3" 
        "main3"
        "footer";
}
.button {
    font-size: 17px;
}
}